<%= include header.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Left column

      </div>
      <div class="col-md-6">
        Right column
        <div class="index-view">
          Backbone should print something here: <span class="backbone"></span>
        </div>
      </div>
    </div>
  </div>


<%= include footer.ejs %>